BookShop/BookShop/Service References/ServiceReference1/ServiceBookShop3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57354/ServiceBookShop.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceBookShop" />
  <xs:import schemaLocation="http://localhost:57354/ServiceBookShop.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="loginBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="users" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceBookShop" minOccurs="0" name="loginBookResult" nillable="true" type="q1:usersShop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceBookShop" minOccurs="0" name="u" nillable="true" type="q2:usersShop" />
        <xs:element minOccurs="0" name="png" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="checkEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllbook">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllbookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceBookShop" minOccurs="0" name="getAllbookResult" nillable="true" type="q3:ArrayOfbookShop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idBook" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceBookShop" minOccurs="0" name="getUserBookResult" nillable="true" type="q4:ArrayOfuserBookShop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buyBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBook" type="xs:int" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buyBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buyBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCatalogy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCatalogyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllCatalogyResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceBookShop" minOccurs="0" name="b" nillable="true" type="q6:bookShop" />
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="pdf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="im" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>