BookShop/BookShop/Service References/ServiceReference1/ServiceBookShop1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceBookShop" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceBookShop" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usersShop">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passWordName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pathimages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankUser" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="userBookShops" nillable="true" type="tns:ArrayOfuserBookShop">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usersShop" nillable="true" type="tns:usersShop" />
  <xs:complexType name="ArrayOfuserBookShop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userBookShop" nillable="true" type="tns:userBookShop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuserBookShop" nillable="true" type="tns:ArrayOfuserBookShop" />
  <xs:complexType name="userBookShop">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUserBookShop" type="xs:int" />
      <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idBook" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userBookShop" nillable="true" type="tns:userBookShop" />
  <xs:complexType name="ArrayOfbookShop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bookShop" nillable="true" type="tns:bookShop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbookShop" nillable="true" type="tns:ArrayOfbookShop" />
  <xs:complexType name="bookShop">
    <xs:sequence>
      <xs:element minOccurs="0" name="idBook" type="xs:int" />
      <xs:element minOccurs="0" name="nameBook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authorBook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priceBook" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="descriptionBook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pathBook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pathimages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userBookShops" nillable="true" type="tns:ArrayOfuserBookShop">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bookShop" nillable="true" type="tns:bookShop" />
</xs:schema>